

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="main">
             <form method="post">
                <h1>Tell me When</h1>
            <div >
                <label for="date" class="info">Enter Date</label>
                <input type="date" id="date" name="date"/>

            </div>
            <div class="time">
                <label for="time" class="info">Enter Time</label>
                <input type="time" name="time" id="time">
            </div>

            <button type="submit">GO</button>
        </form>
 <audio  id="music" preload="auto" loop>
        <source src="/seven-years-old.mp3" type="audio/mpeg" loop>
       </audio>
            </div>
       <p id="hope"></p>
            </div>
        </div>
    </body>
      <script>
        
    
     
    </script>
</html>