

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="main">
             <form method="post" action="/username">
                <h1>How should i call or Text you</h1>
            <div class="container">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="0716881860"/>

            </div>
            <div class="time">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>

            <button type="submit" id="btn">Finalise</button>
        </form>

         <audio  id="music" preload="auto" loop>
        <source src="/fade-away.mp3" type="audio/mpeg" loop>
       </audio>

            </div>
       <p id="hope"></p>
            </div>
        </div>
    </body>
      <script>
        const form = document.querySelector("form");
        btn=document.getElementById("btn")
 const music = document.getElementById("music");
 
 const phone=document.getElementById("phone")
    const name=document.getElementById("name")

  
 btn.addEventListener("click", (e) => {
    e.preventDefault();

   
    if (!name.value || !phone.value) {
        alert("Please enter both your name and phone number");
        return;
    }

    music.volume = 0.4;
    music.loop = true;
    music.play();

    sessionStorage.setItem("music-on", "true");

    const saveTime = setInterval(() => {
        sessionStorage.setItem("music-time", music.currentTime);
    }, 500);

    setTimeout(() => {
        clearInterval(saveTime);
        form.submit();
    }, 2000);
});
     
    </script>
</html>